# Arquivos do sistema e logs
.DS_Store
*.log

# Build
/target/
/build/

# Garantir que o Maven Wrapper JAR seja versionado
!.mvn/wrapper/maven-wrapper.jar

# Maven wrapper files (manter propriedades do wrapper no repo)
.mvn/wrapper/maven-wrapper.properties

# IDEs / ferramentas
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Java
*.class
*.jar
*.war
*.ear

# Outros
.env
